__pycache__/
*.py[cod]
.venv/
venv/
.env
node_modules/
frontend/node_modules/
npm-debug.log*
frontend/src/
frontend/public/
frontend/index.html
frontend/package-lock.json
frontend/package.json
frontend/postcss.config.js
frontend/tailwind.config.js
frontend/tsconfig.json
frontend/tsconfig.tsbuildinfo
frontend/vite.config.ts
.idea/
.vscode/
*.swp
.databricks/
.DS_Store
